certifi==2018.10.15
chardet==3.0.4
clipboard==0.0.4
colorama==0.4.0
idna==2.7
jsonschema==2.6.0
lxml==4.2.5
mutagen==1.41.1
pathlib==1.0.1
pbr==5.0.0
pyperclip==1.7.0
python-magic==0.4.15
pytils==0.3
requests==2.20.0
requests-file==1.4.3
six==1.11.0
stevedore==1.29.0
tldextract==2.2.0
tools==0.1.9
urllib3==1.24
virtualenv==16.0.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
youtube-dl==2018.10.5
